<h1>Listing weddings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Guests</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= wedding.name %></td>
        <td><%= wedding.date %></td>
        <td><%= wedding.location %></td>
        <td><%= wedding.guests %></td>
        <td><%= wedding.user_id %></td>
        <td><%= link_to 'Show', wedding %></td>
        <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
        <td><%= link_to 'Destroy', wedding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedding', new_wedding_path %>
